Cython
git+https://github.com/NVIDIA/NeMo.git@main
git+https://github.com/NVIDIA/NeMo.git@main#egg=nemo_toolkit[lightning]
git+https://github.com/NVIDIA/NeMo.git@main#egg=nemo_toolkit[common]
git+https://github.com/NVIDIA/NeMo.git@main#egg=nemo_toolkit[asr]
librosa==0.10.1
